#c123{
   margin-top: 10%;
    margin-left: 40%;
    height: 30px;
}
#c12{
    background-color: #d3e4ff;
    color: #282c34;
    font-family: "Times New Roman";
    font-size: 15px;
    font-style: inherit;

}
#back{
    margin-top: 2%;
    margin-left: 3%;
}
#b1{
    background-color: #d3e4ff;
    height: 30px;
}
#xx{
    margin-left: 3%;
    font-family: "Comic Sans MS";
    font-size: 15px;
    color: #2f27dc;
}
#xyz{
    font-family: "Bauhaus 93";
    font-size: 45px;
    color: #090ddc;

}
